<div style="background:url('/images/restaurant.jpg'); padding-bottom: 5%;">

<h2>Log In</h2>
  <div id="login_form">
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %> <br>
      <%= text_field_tag :email, params[:email], :class => 'text_field' %>
    </div>
    <div class="field">
      <%= label_tag :password %><br>
      <%= password_field_tag :password, nil, :class => 'text_field' %>
    </div>
    <div class="actions">
      <%= submit_tag "Submit", :class => 'submit_class' %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

    <p id ="sign_up">Don't have an account? Sign up <%= link_to "here!", new_user_path %> </p>
  </div>
</div>
