<!-- Shows a single restaurant and creates a reservation.  -->

<h2><%= @restaurant.name %></h2>
<ul>
  <li><%= @restaurant.cuisine %></li>
  <li><%= @restaurant.price_range %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone %></li>
</ul>

<h3>Make a reservation</h3>
  <%= form_for([@restaurant, @reservation]) do |r| %>
    <div class="field">
      <%= r.label :time_slot %>
      <%= r.time_select :time_slot %>
    </div>
    <div class="field">
      <%= r.label :party_size %>
      <%= r.number_field :party_size, :value => 1, :min => 1 %>
    </div>
    <%= r.submit %>
  <% end %>
